<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">LogRegIn <span style="color: #f39600;font-style: oblique;font-size:22px;font-weight:bold;text-shadow:0 2px 2px">APP</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>      
    </ul>
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login"><span style="color: #f39600">Login to App </span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">User Register </a>
      </li>      
    </ul>
  </div>
</nav>
